$brand-purple: #2E3192;
$brand-orange: #EC4E1B;
$brand-blue: #BCE5FA;
$brand-yellow: #FFF450;

$text-titles: #2E2E2E;
$text-body: #617480;
$text-complements: #A0ACB2;
$text-white: #FFFFFF;
$text-active: #737380;

$shapes-01: #FFFFFF;
$shapes-02: #DCE2E5;

$others-delete: #DE3838;
$others-green: #51B853;

$button-hover: #ec7953;

$background: #F9F9F9;