$brand-blue: #115D8C;
$brand-orange: #F25D27;

$text-titles: #123952;
$text-body: #617480;
$text-complements: #A0ACB2;
$text-white: #FFFFFF;
$text-link--active: #1f1f27;
$text-link: #737380;

$shapes-01: #FFFFFF;
$shapes-02: #DCE2E5;

$others-delete: #DE3838;
$others-green: #51B853;
$others-greenLow: #DCF5DD;
$others-blueLow: #DDE9F0;
$others-orangeLow: #FFA585;
$othess-yellow: #EFB866;

$button-hever: #2274a7;

$background: #F5F8FA;