@import "../../styles/variables";
@import "../../styles/breakpoints";

.button {
    background-color: $brand-orange;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .9);
    color: $text-white;
    cursor: pointer;
    display: flex;
    font-family: 'Voodoo Sans';
    font-size: 24px;
    gap: .5em;
    padding: 16px 32px;
    margin-top: 1em;
    text-transform: uppercase;

    @media (max-width: $desktop_sm) {
        font-size: 20px;
        padding: 14px 24px;
        margin-top: 16px;
    }

    &:hover {
        background-color: $button-hover;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
}