.button {
    background-color: #d54112;
    border-radius: 8px;
    color: #ffffff;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1em 2em;
    cursor: pointer;
    border: none;
    display: flex;
    gap: .5em;
    margin-top: 1em;
    &:hover {
        background-color: #ec7953;
    }
}