@import "../../styles/breakpoints";

.hero {
    background-image: url("/assets/bg-temp.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    height: calc(100vh - 127px);
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

    @media (max-width: $desktop_sm) {
        padding: 2em 0;
        background-size: cover;
    }
}

.heroContainer {
    width: 1140px;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width: $desktop_sm) {
        flex-direction: column;
        align-items: center;
    }

    &__left {
        width: 50%;

        @media (max-width: $desktop_sm) {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 3em;
        }

        &__title {
            font-size: 7em;
            color: black;
            font-family: inherit;
            text-transform: uppercase;
            line-height: 85px;
            margin-bottom: .3em;
            text-shadow:
                -4px -4px 0 white,
                4px -4px 0 white,
                -4px 4px 0 white,
                4px 4px 0 white;

            @media (max-width: $desktop_sm) {
                font-size: 3.5em;
                text-align: center;
                line-height: 50px;
                margin-bottom: .5em;
            }

            &__smaller {
                font-size: 0.6em;
            }

            &__biger {
                font-size: 1.5em;
            }
        }
    }

    &__right {
        width: 50%;
        display: flex;
        justify-content: end;

        @media (max-width: $desktop_sm) {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &__img {
            width: 70%;

            @media (max-width: $desktop_sm) {
                width: 90%;
            }
        }
    }
}