@import "../../styles/breakpoints";

.hero {
    background-image: url("/assets/hero-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 130px);
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

    @media (max-width: $desktop_sm) {
        padding: 2em 0;
    }
}

.heroContainer {
    width: 1140px;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width: $desktop_sm) {
        flex-direction: column;
        align-items: center;
    }

    &__left {
        width: 50%;

        @media (max-width: $desktop_sm) {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 3em;
        }

        &__title {
            font-size: 5em;
            color: #ffffff;
            font-family: inherit;
            text-transform: uppercase;
            line-height: 68px;
            margin-bottom: .3em;

            @media (max-width: $desktop_sm) {
                font-size: 3.5em;
                text-align: center;
                line-height: 50px;
                margin-bottom: .5em;
            }

            &__smaller {
                font-size: 0.6em;
            }

            &__biger {
                font-size: 1.5em;
            }
        }
    }

    &__right {
        width: 50%;
        display: flex;
        justify-content: end;

        @media (max-width: $desktop_sm) {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &__img {
            width: 70%;

            @media (max-width: $desktop_sm) {
                width: 90%;
            }
        }
    }
}