@import "../../../styles/variables";
@import "../../../styles/breakpoints";

$carousel-height: calc(100vh - 126px);
$carousel-max-height: 800px;
$carousel-padding: 5em;
$carousel-title-font-size: 6em;
$carousel-title-font-size-mobile: 3.5em;

.carouselMain {
  height: $carousel-height;
  max-height: $carousel-max-height;
  width: 100%;
  z-index: 1;

  @media (max-width: $desktop_sm) {
    height: 100vh;
  }
}

.carouselImage {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 170%;
  display: flex;
  align-items: center;
  height: $carousel-height;
  max-height: $carousel-max-height;
  transition: background-size 0.3s ease, background-position 0.3s ease;

  @media (max-width: $desktop_sm) {
    align-items: start;
    background-position: 50% center;
    background-size: 880%;
  }

  @media (max-height: 600x) {
    background-size: 660%;
  }

  @media (max-height: 670px) {
    background-size: 660%;
  }

}

.carouselContentCenter {
  display: flex;
  flex-direction: row;
  width: 1440px;
  margin: 0 auto;

  @media (max-width: $desktop_sm) {
    flex-direction: column;
  }
}

.carouselTitleContainer {
  width: 50%;
  padding-left: $carousel-padding;
  margin-bottom: 2em;

  @media (max-width: $desktop_sm) {
    width: 100%;
    padding: 7em 1em 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 6em;
  }

  @media (max-height: 667px) {
    padding: 3em 1em 0;
    margin-bottom: 1em;
  }

  @media (max-height: 400px) {
    padding: 7em 1em 0;
    margin-bottom: 6em;
  }
}

.carouselImageContainer {
  width: 50%;

  @media (max-width: $desktop_sm) {
    width: 100%;
  }

  img {
    width: 95%;
    transition: width 0.3s ease;

    @media (max-width: $desktop_sm) {
      width: 100%;
    }
  }
}

.carouselTitle {
  color: $text-white;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, .7);
  font-size: $carousel-title-font-size;
  text-transform: uppercase;
  transition: font-size 0.3s ease, text-shadow 0.3s ease;

  @media (max-width: $desktop_sm) {
    text-align: center;
    font-size: $carousel-title-font-size-mobile;
    margin-bottom: 16px;
  }
}