@media (max-width: 1152px) {
    .swiper {
        height: 100vh;
    }
  }

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    position: relative;
    bottom: 10px;
}
.swiper-pagination-bullet {
    background-color: #4CDBFF;
    opacity: 1;
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet-active {
    background-color: #EC4E1B;
}

.swiper-button-prev {
    color: #4CDBFF;
}

.swiper-button-next {
    color: #4CDBFF;
}

@media only screen and (max-width: 599px) and (min-width: 320px) {

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
}