@import "../../../styles/variables";
@import "../../../styles/breakpoints";

$carousel-height: calc(100vh - 126px);
$carousel-max-height: 800px;
$carousel-padding: 5em;
$carousel-title-font-size: 6em;
$carousel-title-font-size-mobile: 3em;

.carouselMain {
  background-color: black;
  height: $carousel-height;
  max-height: $carousel-max-height;
  width: 100%;
  z-index: 1;
}

.carouselImage {
  display: flex;
  align-items: center;
  height: $carousel-height;
  max-height: $carousel-max-height;

  @media (max-width: $desktop_sm) {
    align-items: start;
  }

}

.carouselContentCenter {
  display: flex;
  flex-direction: row;
  width: 1440px;
  margin: 0 auto;

  @media (max-width: $desktop_sm) {
    flex-direction: column;
  }
}

.carouselTitleContainer {
  width: 50%;
  padding-left: 8em;

  @media (max-width: $desktop_sm) {
    width: 100%;
    padding: 2em 1em;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: calc(100vh - 126px);
  }
}

.imagem__container__mobile {
  width: 50%;
  display: none;

  @media (max-width: $desktop_sm) {
    width: 90%;
    display: flex;
  }

  img {
    width: 95%;
    transition: width 0.3s ease;

    @media (max-width: $desktop_sm) {
      width: 100%;
    }
  }
}

.imagem__container {
  width: 50%;
  display: flex;

  @media (max-width: $desktop_sm) {
    width: 100%;
    display: none;
  }

  img {
    width: 95%;
    transition: width 0.3s ease;

    @media (max-width: $desktop_sm) {
      width: 100%;
    }
  }
}

.carouselTitle {
  color: $text-white;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, .7);
  font-size: $carousel-title-font-size;
  text-transform: uppercase;
  transition: font-size 0.3s ease, text-shadow 0.3s ease;

  @media (max-width: $desktop_sm) {
    text-align: center;
    font-size: $carousel-title-font-size-mobile;
    margin-bottom: 16px;
  }
}