@import "../../../styles/variables";
@import "../../../styles/breakpoints";

.carouselMain {
  height: calc(100vh - 126px);
  max-height: 800px;
  width: 100%;
  z-index: 1;

  @media (max-width: $desktop_sm) {
    height: 100vh;
  }
}

.carouselImage {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  height: calc(100vh - 126px);
  max-height: 800px;

  @media (max-width: $desktop_sm) {
    align-items: start;
    background-position: 61% center;
  }
}

.carouselContentCenter {
  display: flex;
  flex-direction: row;
  width: 1440px;
  margin: 0 auto;

  @media (max-width: $desktop_sm) {
    flex-direction: column;
  }
}

.carouselTitleContainer {
  width: 50%;
  padding-left: 5em;
  margin-bottom: 2em;

  @media (max-width: $desktop_sm) {
    width: 100%;
    padding: 6em 1em 1em;
  }
}

.carouselImageContainer {
  width: 50%;

  @media (max-width: $desktop_sm) {
    width: 100%;
  }

  img {
    width: 95%;

    @media (max-width: $desktop_sm) {
      width: 100%;
    }
  }
}

.carouselTitle {
  color: $text-white;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, .7);
  font-size: 6em;
  text-transform: uppercase;

  @media (max-width: $desktop_sm) {
    font-size: 3em;
    margin-bottom: 1em;
  }
}