@import "../../../styles/variables";
@import "../../../styles/breakpoints";

.hero {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 4em 2em;

    @media (max-width: $desktop_sm) {
        padding: 4em 2em;
        background-size: cover;
    }
}

.heroContainer {
    width: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 64px;

    &__left {
        width: 30%;
        display: flex;
        justify-content: end;

        @media (max-width: $desktop_sm) {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__right {
        width: 70%;

        @media (max-width: $desktop_sm) {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2em;
        }

        &__text {
            color: $text-titles;
            font-size: 24px;

            @media (max-width: $desktop_sm) {
                text-align: center;
            }

            &__orange {
                color: $brand-orange;
                font-size: 40px;
                margin-top: 1em;

                @media (max-width: $desktop_sm) {
                    text-align: center;
                    margin-top: .5em;
                }
            }
        }
    }

    @media (max-width: $desktop_sm) {
        flex-direction: column;
        align-items: center;
    }
}